<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
    <provider
        android:name="com.hxo.loader.HxoLoader"
        android:authorities="${applicationId}.hxo.init"
        android:exported="false"
        android:initOrder="1000"/>
    </application>
</manifest>